<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.detailPaneFactories">
      <detailFactories
            class="com.itextpdf.pdfdebug.plugin.PdfDocumentDetailPaneFactory"
            id="com.itextpdf.samwell.detailFactories">
      </detailFactories>
   </extension>

</plugin>
